<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Tic, Tac, Toe!
  </h1>
 

<section class="gameboard">
  
  <app-board-square class="square top left"></app-board-square>
  <app-board-square class="square top"></app-board-square>
  <app-board-square class="square top right"></app-board-square>
  <br>
  <app-board-square class="square left"></app-board-square>
  <app-board-square class="square x"></app-board-square>
  <app-board-square class="square right"></app-board-square>
  <br>
  <app-board-square class="square  bottom left"></app-board-square>
  <app-board-square class="square bottom"></app-board-square>
  <app-board-square class="square bottom right"></app-board-square>
</section>